/* * {
  margin: 0;
  padding: 0;
} */

body {
  text-align: center;
  margin: 0;
  position: relative;
  font-family: "Merriweather", serif;
}

p {
  color: #40514e;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  background: linear-gradient(#11cdd4, #11999e);
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 30px 0;
}

.btn:hover {
  background: linear-gradient(#30e3cb, #2bc4ad);
}

a {
  text-decoration: none;
  color: #11999e;
  margin-right: 30px;
}

a:hover {
  color: #eaf6f6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  margin-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.intro {
  width: 30%;
  margin: 0 auto;
}
.top-container {
  position: relative;
  background-color: #e4f9f5;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 50px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 20px;
}

.bottom-container p {
  color: #eaf6f6;
  padding: 20px 0 0 0;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.wing-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-img {
  position: absolute;
  right: 400px;
  top: 30px;
}

.bottom-img {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

hr {
  width: 6%;
  border-bottom: none;
  border-top: dotted 8px #ccc;
  background: none;
  margin: 60px auto;
}

.contact-text {
  width: 40%;
  margin: 40px auto 60px;
}
